replicaCount: 2

image:
  repository: qusakabi/fofatafo
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  host: fofatafo.local
  path: /
  pathType: Prefix

resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 250m
    memory: 200Mi

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50

# === probes ===
probes:
  readiness:
    enabled: true
    path: /
    port: 80
    initialDelaySeconds: 5
    periodSeconds: 10
  liveness:
    enabled: true
    path: /
    port: 80
    initialDelaySeconds: 10
    periodSeconds: 15
